Inscripciones
**/.DS_Store
**/logisim
**/*.mp4
**/*.mov
**/.vscode
**/*.tab.c
**/*.yy.c
**/*.h
**/uv.lock
**/.venv
**/.ipynb_checkpoints
**/.python-version
**/.mov
**/"84GIIN - Trabajo de Fin de Grado"
**/.pem
